body {
  margin:0px;
  background-image:url('../../images/板块关注热度__1_/bg.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:450px 450px;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
